@import "tailwindcss";

:root {
  --background: #ffffff;
  --dark: #333;
  --headerHeight: 10vh;

  /*Pastels:*/
  --praimory: #f2968f;
  /*   --pastel-blue: #a7c0e0;
  --pastel-green: #b0e0b0;
  --pastel-yellow: #f0e0b0;
  --pastel-purple: #c9b0e0;
  --pastel-pink: #f0b0d0;
  --pastel-orange: #f0c8a0;
  --pastel-mint: #a0e0d0;
  --pastel-lavender: #e0d0f0;
  --pastel-peach: #f0d0b0;
  --pastel-rose: #f5c6c6;
  --pastel-lilac: #d4c0e0;
  --pastel-aqua: #b0e0e0;
  --pastel-coral: #f0a7a7;
  --pastel-cream: #f5e6d3;
  --pastel-sage: #c0d0c0;
  --pastel-lagoon: #a7d0e0;
  --pastel-blush: #f0c0c0;
  --pastel-periwinkle: #c0c0f0;
  --pastel-butter: #f0e6a0;
  --pastel-seafoam: #a0e0c0;
  --pastel-dusty-rose: #e0b7b7;
  --pastel-sky: #b0d0f0;
  --pastel-lemon: #f0f0a0;
  --pastel-wisteria: #d0b0e0; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
  --font-mono: "monospace";
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.notif::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 42%;
  aspect-ratio: 1;
  background: var(--praimory);
  border: 2px solid var(--background);
  border-radius: 50%;
}

body {
  background: var(--background);
  color: var(--dark);
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: var(
    --font-sans,
    "Helvetica Neue",
    Arial,
    Helvetica,
    sans-serif
  ) !important; */
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge Legacy */
}
