@import "tailwindcss";

:root {
  --background: #ffffff;
  --dark: #333;
  --praimory: #F2968F;

  --headerHeight: 10vh;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
  --font-mono: "monospace";
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.notif::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 42%;
  aspect-ratio: 1;
  background: var(--praimory);
  border : 2px solid var(--background);
  border-radius: 50%;
}


body {
  background: var(--background);
  color: var(--dark);
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: var(
    --font-sans,
    "Helvetica Neue",
    Arial,
    Helvetica,
    sans-serif
  ) !important; */
}


.scrollbar-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge Legacy */
}
